@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter;
    background-color: black;
    color: white;
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid;
}

/* Header Section */
header {
    background-image: linear-gradient(#111111, rgba(119, 119, 119, 0));
    margin-bottom: 100px;
}
/* Navbar */
.navbar {
    max-width: 75%;
    margin: 0 auto;
    padding-top: 57px;
    display: flex; 
    justify-content: space-between;
}
.nav-title {
    font-size: 2.25rem;
    font-weight: 900;
    font-style: italic;
    color: #e6533c;
    text-decoration: none;
}
.nav-menu {
    width: 24px;
    height: 24px;
    filter: invert();
    display: none;
}
.navbar ul {
    max-width: 465px;
    height: 46px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    padding: 4px 12px 4px 4px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
} 
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all .2s ease-in;
} 
.li-home {
    padding: 8px 20px;
    border-radius: 46px;
    background-color: #e6533c;
}
.navbar ul li a:hover {
    opacity: 0.85;
}
/* Banner Section */
.banner-container {
    max-width: 80%;
    margin: 32px auto 0;
    display: flex;
    justify-content: space-around;
    gap: 87px;
}
.banner-txt-container {
    width: 50%; 
}
.banner-title {
    font-size: 4.8rem;
    font-weight: 900;   
    margin-bottom: 28px;
}
.banner-title-fancy {
    font-weight: normal;
    font-family: Dancing Script;
}
.banner-txt {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 28px;
}
.banner-btn-container {
    display: flex;
    gap: 14px;
}
.banner-btn {
    background-color: rgba(230, 83, 60, 1);
    color: white;
    border-radius: 42px;
    padding: 16px 46.5px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in;
}
.banner-btn:hover {
    background-color: #b7402e;
}
.banner-btn2 {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 42px;
    padding: 16px 46.5px;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
    transition: all .3s ease-in;
}
.banner-btn2:hover {
    background-color: #b7402e;
    border: 1px solid rgba(255, 255, 255, 0);
}
.banner-img-container {
    position: relative;
    max-height: 580px;
}
.banner-box {
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 23px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 63px; 
    left: -113px;
}
.banner-box-circle {
    height: 40px;
    width: 40px;
    background-color: #e6533c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.banner-box-title {
    font-size: 1.5rem;
    font-weight: 900;
    color: #fafaf9;
    margin-bottom: 8px;
}
.banner-box-txt {                         
    color: rgba(239, 237, 232, 0.65);
}
.banner-box2 {
    width: 193px;
    height: 98px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);          
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 357px;
    right: -74px;
}
.banner-box-title2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    margin-bottom: 8px;
}
.banner-box-txt2 {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.65);
}
/* Section 2 */
.section2 {
    margin-bottom: 100px;
}
.section2-txt-container {
    max-width: 42%;
    margin: 0 auto 58px;
    text-align: center;
}
.section2-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.section2-txt {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;             
}

.section2-box-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.section2-box {
    display: flex;
    flex-direction: column;
}
.section2-box img {
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    transition: all .3s ease-out;
}
.section2-box img:hover {
    filter: brightness(70%);
}
.section2-box-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 6px;
    text-align: center;
}
.section2-box-txt {
    max-width: 230px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.78rem;
    text-align: center;
}
/* Section 3 */
.section3 {
    max-width: 75%;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    padding: 32px;
    padding-left: 54px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 100px;
}
.section3-txt-container {
    max-width: 42%;
}
.section3-title {
    font-size: 3rem;
    font-weight: 900;
}
.section3-txt {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.78rem;
    margin-top: 14px;
    margin-bottom: 34px;
}
.section3-btn {
    background-color: rgba(230, 83, 60, 1);
    color: white;
    border-radius: 42px;
    padding: 16px 71.5px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in;
}
.section3-btn:hover {
    background-color: #b7402e;
}

.section3-img img {
    max-width: 386px;
    border-radius: 18px;
}
.section3-img2 {
    display: none;
}
.section3-img-small {
    display: none;
}
.section3-img img:hover {
    filter: contrast(80%);
}
/* Section 4 */
.section4 {
    max-width: 75%;
    margin: 0 auto 88px;
}
.section4-txt-container {
    margin-bottom: 58px;
}
.section4-title {
    font-size: 3rem;
    font-weight: 900;
}
.section4-txt {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.78rem;
    margin-top: 14px;
    max-width: 38%;
}
.section4-img-row1 {
    display: grid;
    grid-template-columns: 0.24fr 0.50fr 0.26fr;
}
.section4-img-row2 {
    display: grid;
    grid-template-columns: 0.40fr 0.27fr 0.33fr;
}
.section4-img-box {
    position: relative;
}
.section4-img1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(7, 42, 53, 0.5);
}
.section4-img2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(65, 6, 18, 0.489);
}
.section4-img3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(61, 65, 6, 0.489);
}
.section4-img4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.section4-img5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(36, 11, 63, 0.5);
}
.section4-img6 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(8, 32, 57, 0.5);
}
.section4-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section4-exc1 {
    width: 80%;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    bottom: 27.5px;
    left: 24px;
}
.section4-exc2 {
    width: 40%;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    top: 25px;
    left: 31px;
}
.section4-exc3 {
    width: 80%;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    bottom: 21.5px;
    left: 27px;
}
.section4-exc4 {
    width: 60%;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    top: 25.5px;
    right: 20px;
}
.section4-exc5 {
    width: 80%;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    bottom: 23px;
    left: 34px;
}
.section4-exc6 {
    width: 60%;
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    bottom: 25px;
    left: 38px;
}







/* Small Screen Or Devices */
@media screen and (max-width: 576px) {
    header {
        background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0));
    }
    /* navbar */
    .navbar {
        max-width: 90%;
        padding-top: 52px;
        align-items: center;
        margin-bottom: 51px;
    }
    .nav-menu {
        display: inline;
    }
    .navbar ul {
        display: none;
    }
    /* Banner */
    .banner-container {
        max-width: 90%;
        flex-direction: column;
    }
    .banner-txt-container {
        width: 100%;
    }
    .banner-title {
        font-size: 2.25rem;
        width: 50%;
        margin-bottom: 28px;
    }
    .banner-txt {
        font-size: 1rem;
        width: 60%;
    }

    .banner-img-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .banner-box {
        bottom: 244px;
        left: 12px;
    }
    .banner-box2 {
        width: 145px;
        height: 74px;
        top: 47.6px;
        right: 12px;
    }
    .banner-box-circle {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    .banner-box-title {
        font-size: 1rem;
    }
    .banner-box-txt {
        font-size: 0.75rem;
    }
    .banner-box-title2 {
        font-size: 1.85rem;
    }
    .banner-box-txt2 {
        font-size: 0.58rem;
    }
    header {
        margin-bottom: 0;
    }

    /* Section 2 */
    .section2 {
        max-width: 90%;
        margin: 0 auto 66px;
    }
    .section2-txt-container {
        max-width: 100%;
        margin-bottom: 58px;
        position: relative;
        top: -80px;
        background-color: black;
        margin-bottom: -25px;
    }
    .section2-title {
        font-size: 2rem;
    }
    .section2-txt {
        font-size: 0.87rem;
        margin-top: 14px;
    }
    .section2-box-container {
        max-width: 60%;
        margin: 0 auto;
        flex-direction: column;
    }

    /* Section 3 */
    .section3 {
        max-width: 90%;
        padding: 31px 33px 35px;
        flex-direction: column;
        margin-bottom: 66px;
    }
    .section3-txt-container {
        max-width: 100%;
        margin-bottom: 31px;
    }
    .section3-title {
        font-size: 2rem;
        margin-bottom: 14px;
    }
    .section3-txt {
        margin-bottom: 24px;
    }
    .section3-img2 {
        display: flex;
        justify-content: center;
    }
    .section3-img2 img {
        max-width: 100%;
        border-radius: 18px;
    }
    .section3-img {
        display: none;
    }

    /* Section 4 */
    .section4 {
        max-width: 90%;
        margin-bottom: 30px;
    }
    .section4-title {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 14px;
    }
    .section4-txt {
        max-width: 100%;
    }
    .display-none {
        display: none;
    }
    .section4-exc1, .section4-exc2, .section4-exc4, .section4-exc5 {
        font-size: 0.7rem;
    }
    .section4-img-row1 {
        grid-template-columns: 1fr 1fr;
    }
    .section4-img-row2 {
        grid-template-columns: 0.45fr 0.55fr;
    }
}